<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe - ShouvikBajpayee</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="msg-container hide">
            <h1 class="winner-head">Winner!</h1>
            <button class="new-game">New Game</button>
        </div>

        <h1 class="heading">Tic Tac Toe</h1>

        <div class="box-container">
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
            <button class="box"></button>
        </div>

        <button class="reset">Reset</button>
    </div>

    <script src="/script.js"></script>
</body>
</html>